<footer>
    <div id="footerContainer">
        <div class="footer-header">
            <h1 class="logo symbol">
                <a href="/list"><span class="accent1">3</span><span>P</span></a>
            </h1>
            <a href="https://github.com/CherniakYura/pc-planner-express" id="githubLogo" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-github"></i></a>
        </div>
        <div class="footer-body">
            <a href="/categories">Categories</a>
            <a href="/manufacturers">Manufacturers</a>
            <a href="/components">All Parts</a>
        </div>
        <div class="footer-end">
            <span id="createdBy">Created by Yurii Cherniak</span>
        </div>
    </div>
</footer>   