<% layout('layout') -%>
    <h1 class="detail-title main-title">
        <%= title %>
    </h1>
    <section>
        <h2 class="accent1"> What you want to see?</h2>
    </section>
    <section class="cards-container">
        <a href="/categories">
            <div class="card">
                All categories
            </div>
        </a><a href="/manufacturers">
            <div class="card">

                All manufacturers

            </div>
        </a><a href="/components">
            <div class="card">
                All components
            </div>
        </a>
    </section>