/* @import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap"); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --accent1: #d4b536;
    --accent2: #e3d081;
    --fg: #1e1e1e;
    --bg: rgb(41, 41, 41);
    --black: #181818;
    --font-color: #dddddd;
    --input-gradient-1: #494536;
    --input-gradient-2: #4e4936;
    --body-padding: 20px;
    --header-height: 70px;
    --footer-height: 200px;
    --table-header-color: #4f4e4e;
}
@keyframes bounce {
    0% {
        top: 0px;
    }
    25% {
        top: -3px;
    }
    50% {
        top: 0px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 0px;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg);
    font-family: "Archivo", sans-serif;
    color: var(--font-color);
    position: relative;
}

.hidden {
    display: none !important;
}

.accent1 {
    color: var(--accent1);
}
.accent2 {
    color: var(--accent2);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

/* header */

#header {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    align-items: center;
}
.header-container {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin: 17px;
}
.header-section {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo a:hover {
    text-decoration: none;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    z-index: 20;
}
#nav-bar li {
    margin: 5px;
    text-transform: capitalize;
    color: var(--font-color);
}
#nav-bar li a {
    transition: 0.2s;
}
#nav-bar li:hover a {
    text-decoration: none;
    color: var(--accent1);
}
#burger {
    display: none;
}
@media screen and (max-width: 750px) {
    #burger {
        background: none;
        border: none;
        padding: 0;
        width: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    #burger div {
        position: relative;
        width: 100%;
        height: 4px;
        background-color: var(--font-color);
        transition: 0.2s;
        top: 0;
        bottom: 0;
    }
    #burger div:first-child {
        top: -6px;
    }
    #burger div:last-child {
        top: 6px;
    }

    body.expand #burger div:first-of-type {
        top: 0px;
        opacity: 0;
    }
    body.expand #burger div:last-of-type {
        top: -0px;
        opacity: 0;
    }

    body.expand #burger div:nth-child(2) {
        animation: bounce 0.2s;
    }
    #burger:focus {
        outline: none;
    }
    #burger:hover div {
        background-color: var(--accent1);
        transition: 0.2s;
    }
    #nav-bar {
        display: none;
        transition: 0.3s;
    }
    body.expand #nav-bar {
        background-color: var(--black);
        display: inline;
        position: absolute;
        top: 66.5px;
        left: 0;
        width: 100%;
    }
    body.expand #nav-bar li {
        margin: 15px;
    }
}
/* footer */

footer {
    background-color: var(--black);
    min-height: var(--footer-height);
    padding: var(--body-padding);
    width: 100%;
    flex-grow: 1;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .footer-header img {
  height: 36px;
} */
.symbol {
    font-size: 30px;
    display: inline;
}

.symbol a {
    color: var(--font-color);
}

#githubLogo {
    color: var(--font-color);
    font-size: 40px;
    display: flex;
}

#githubLogo:hover {
    text-decoration: none;
}

.footer-body {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--bg);
    margin-top: 20px;
    padding-top: 20px;
    align-items: flex-start;
}

.footer-body a {
    margin-top: 5px;
    padding: 5px;
    display: inline-block;
}

.footer-end {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: var(--font-color);
    opacity: 0.3;
}
/* category - list */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wide-screen-bg {
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.title {
    align-self: center;
}

.create-section {
    display: flex;
    margin: 20px 0;
}

.create-section a {
    color: var(--accent1);
    font-size: 1.2rem;
}
.create-section a:hover {
    text-decoration: underline;
}

.list {
    min-width: 50%;
    font-size: 1.2rem;
    margin: 10px 0;
}
.list li {
    padding: 20px 10px;
}
.list li:hover {
    background-color: var(--black);
}

.list a {
    color: var(--accent1);
}

/* category detail */
.detail-title {
    width: 60%;
    text-align: center;
}

.detail-title h1 {
    margin: 14px;
    margin-bottom: 5px;
}

.edit-links {
    font-size: 14px;
}
.edit-links a {
    color: var(--table-header-color);
}
.edit-links a:hover {
    color: var(--accent1);
}
.widescreen {
    margin-right: 15px;
    margin-left: 5px;
}
.description {
    margin: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.filter-section {
    background-color: var(--fg);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
    margin-top: 25px;
}
.table-container {
    margin: 0;
    width: 100%;
    background-color: var(--fg);
}
#numProductsContainer {
    position: relative;
    top: -8px;
    font-size: 14px;
    text-shadow: 0 0 15px black;
}
#filterForm {
    font-size: 12px;
    position: relative;
    top: -25px;
    border: 0px;
    color: var(--accent1);
    font-weight: bold;
    text-shadow: 0 0 15px black;
}
#filterForm input:focus + legend {
    animation: bounce 0.2s;
}
legend {
    padding: 0 2px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
    text-shadow: 0 0 7px #000000c9;
    position: relative;
    top: 0;
}
fieldset {
    padding: 0;
    border-radius: 2px;
    color: var(--accent1);
    background: radial-gradient(
        var(--input-gradient-1),
        var(--input-gradient-2)
    );
    border: 2px solid var(--input-gradient-2);
    transition: border 0.2s;
    box-shadow: 0 0 10px #0000002e;
    margin-bottom: 30px;
    position: relative;
    top: 0;
}
fieldset:focus-within {
    transition: border 0.2s;
    border: 2px solid var(--accent1);
    /* outline: none; */
}

fieldset:focus-within legend {
    animation: bounce 0.2s linear none 1;
}

#filterForm input {
    color: var(--accent1);
    margin: 5px 10px;
    border: none;
    background-color: transparent;
}
#filterForm input::placeholder {
    color: var(--accent2);
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
.table-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.table-container table {
    width: 80%;
}
thead tr {
    text-align: left;
    color: var(--table-header-color);
    border-bottom: 1px solid white;
}
thead tr th {
    padding: 5px;
    margin-left: 5px;
    border-bottom: 1px solid var(--input-gradient-2);
}
.part-name-container {
    display: flex;
    align-items: center;
}
.part-name-container > a {
    margin-left: 10px;
}
.imgNotFound {
    background-color: black;
    width: 52.5px;
    height: 52.5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
tbody a {
    color: var(--accent1);
}
tbody td {
    padding: 20px 5px;
    color: var(--accent1);
    border-bottom: 1px solid var(--input-gradient-2);
}
.part-add button {
    border: none;
    background-color: var(--accent1);
    padding: 7px 10px;
    border-radius: 5px;
}

#notFound td {
    border: none;
    text-align: center;
    vertical-align: middle;

    font-size: 90px;
    color: var(--table-header-color);
}
.block {
    display: block;
    width: 100%;
}

fieldset input {
    background-color: transparent;
    border: none;
    margin: 5px;
    color: var(--accent1);
    width: 100%;
    padding: 5px;
}
fieldset textarea {
    background-color: transparent;
    border: none;
    margin: 5px;
    color: var(--accent1);
    resize: vertical;
    width: 97%;
}
.form-header {
    font-size: 24px;
    margin: 20px;
}
.deleteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cancel {
    text-align: center;
    background-color: var(--fg);
    color: var(--accent1);
    margin: 10px 0;
    padding: 5px;
    border-radius: 3px;
}

.form-section {
    width: 35%;
}
.delete {
    margin: 20px;
    text-align: center;
}
#deleteMsg {
    margin: 20px;
    font-size: 14px;
}
#deleteList {
    list-style: disc;
    margin: 20px 0;
    width: 70%;
}
#deleteList a {
    color: var(--accent1);
}
#deleteList a:hover {
    text-decoration: underline;
}
button {
    border-radius: 3px;
}
#confirmationMsg {
    margin: 15px 0;
}
.deleteSection form {
    width: 100%;
}
.delete-btn {
    cursor: pointer;
    padding: 5px;
    border: none;
    background-color: var(--accent1);
    color: var(--fg);
}
.errorMsg {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.component-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-details--img {
    margin: 30px;
}

.component-details--img .imgNotFound {
    width: 150px;
    height: 150px;
    font-size: 30px;
}
.component-details--details {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.component-details--details-left {
    display: flex;
    flex-direction: column;
}
.component-details--details-left a {
    color: var(--accent2);
}
.component-details--details-left div {
    margin-bottom: 10px;
    min-width: max-content;
}
.features-list-container {
    margin-left: 50px;
    width: 50%;
    min-width: 200px;
}
.th-small {
    font-size: 13px;
    color: var(--accent1);
}
.features-list-container li {
    font-size: 16px;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #6b6b6b;
}
button {
    cursor: pointer;
}
#componentFormContainer {
    width: 60%;
}

.component-details--img {
    text-align: center;
    display: flex;
    justify-content: center;
}
#price-input {
    display: flex;
    align-items: center;
    padding: 5px;
}
#features {
    margin-bottom: 0;
}
#feature-sub {
    color: var(--accent1);
}
#price-stock-container {
    margin-top: 20px;
}
fieldset select {
    width: 95%;
    margin: 15px;
    background-color: #4d4836;
    border: none;
    color: var(--accent1);
}
fieldset select:focus {
    outline: none;
}
select option {
    padding: 15px;
}
.label {
    margin: 15px;
    cursor: pointer;
}
.list-image-container img {
    width: 52.5px;
    height: 52.5px;
}
.component-details--img img {
    height: 180px;
    width: auto;
}
@media screen and (max-width: 750px) {
    .filter-section {
        display: flex;
        flex-direction: column;
    }
    #filterForm {
        margin-top: 40px;
    }
    .list-image-container {
        display: none;
    }
    thead{
        display: none;
    }
    tr {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        color: var(--accent1);
        padding: 20px 0;
    }
    tr td{
        display: flex;
        flex-direction: column;
    }
    .part-name-container a{
        margin: 0;
    }
    .part-name-container{
        display: flex;
        text-align: left;
        align-items: flex-start;
        flex-direction: column;
    }
    .th-small{
        opacity: 0.8;
        margin-bottom: 5px;
    }
    .part-name{
        border: none;
    }
    .part-manufacturer{
        border: none;
    }
    #componentFormContainer,.form-section{
        width: 90%;
    }
}

/* main */

.main-title{
    margin: 20px;
}

.cards-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.card{
    background-color: var(--fg);
    border-radius: 5px;
    padding: 20px;
    position: relative;
    
}
.cards-container a{
    width: 30%;
    text-align: center;
    min-width: max-content  ;
}
.cards-container a:hover{
   /* animation: bounce 0.3s linear  none 1 ; */
    color: var(--accent1);
    text-decoration: underline;
}
.cards-container .card:hover{
   animation: bounce 0.3s linear  none 1 ;
}
.cards-container .card:hover a{
 
   color: var(--accent1);
    text-decoration: underline;
}
@media screen and (max-width: 750px) {
    .cards-container{
    width: 80%;
    display: flex;
    flex-direction: column;
   text-align: center;
    margin: 20px 0;
}
.cards-container a{
    width: 90%;
   
}
.card{
    margin: 10px;
}
}